* {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

body{
    background-image: url('dark_wood.png');
}

a, p{ 
    color:white;
    font-family: "Arial"; 
}

a, p, #Header h1{
    font-weight: bold;
}

h3, #Header h1{
    font-family: "Passion One";
    color: #FFBC00; 
    text-shadow: 3px 5px brown;
}

div{
    text-align: center;
    border:solid 8px black;
    background-color: #8E41D5;
}

a{
    font-size: 24px;
}

a:visited {
    color: gold;
}

a:hover {
    color: plum;
}

h3{
    font-size: 40px; 
}

ul{
    list-style-type: none;
    padding-left: 0px;
}

#Header{
    width: 500px;  
    position: sticky;
}

#Header h1{
    font-size: 60px; 
}

#LeftNav{
    padding-bottom: 8px;
    float: left;
    width: 400px;
}

#Content{
    padding: 15px;
    width: 700px;
}

img {
    opacity: 0.5;
    filter: alpha(opacity=50); 
  }
  
  img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); 
  }